/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 table{
  width: 100%;
 }

 table td:first-child{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
 }

 #product_list table tr td {
  padding: 5px;
  vertical-align: top;
}

#product_list .list_image {
  width: auto;
  height: auto;
  max-width: 300px;
}

#product_list .list_description {
  width: 60%;
}

#product_list .list_description dl {
  margin: 0;
}

#product_list .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

#product_list .list_description dd {
  margin: 0px;
  padding-top: 20px;
  font-size: 18px;
}

#product_list .list_actions {
  font-size: small;
  text-align: right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background: #e0f8f8;
}

#product_list .list_line_odd {
 background: #f0f0f0;
}

#store .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#store .entry h3 {
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
}

#store .entry p {
  margin-top: 0.5em; 
  margin-bottom: 0.8em; 
}

#store .entry .price_line {
  clear: both;
  margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}