<div id="product_list">
    <h1>Products <%=@product.id%> details</h1>
  
    <table>
        <tr class="list_line_even" >  
            <td>
                <%= image_tag(@product.images, :class => 'list_image') %>
            </td>
  
            <td class="list_description">
                <dl>
                    <dt><%= @product.name %></dt>
                    <dd><%= truncate(strip_tags(@product.description),
                            :length => 80) %></dd>
                </dl>
            </td>
  
            <td class="list_actions">
                <%= link_to 'Show', @product %><br/>
                <%= link_to 'Edit', edit_product_path(@product) %><br/>
                <%= link_to 'Destroy', @product, 
                    data: { confirm: 'Are you sure?' },
                    :method => :delete %>
            </td>
        </tr>
    </table>
</div>
 
<br />
 
<%= link_to 'New product', new_product_path %>